@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
nav {
  grid-area: 1 / 1 / 2 /7;
}
main {
  grid-area: 2/ 1 / 9 / 7;
}
aside {
  grid-area: 1 / 7 / 9 / 10;
}
.location {
  grid-area: 1/ 1 /2 / 9;
}

.details {
  grid-area: 2 / 1 / 5 / 6;
}
.description {
  grid-area: 5 / 1 / 6 / 9;
}
.sorrDet {
  grid-area: 6 / 1 / 8 / 9;
}
/* Loader styling */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
